/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --principal: #f2f2f2;
    --principal_osc: #353535;
    --secundario: #fe4918;
    --secundario_osc: #e33000;
    --fuente_1: 'Open Sans', sans-serif;
    --fuente_2: 'PT Sans', sans-serif;
    --fuente_3: 'Oswald', sans-serif;
}

/* Global */
body {
    background-color: var(--principal);
    font-family: var(--fuente_1);
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%;
    }

}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
    }

}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 85%;

    }

}


@media only screen and (min-width:1920px) {
    .contenedor {
        width: 80%;
        max-width: 1800;
    }

}


.seccion {
    padding: 3rem 0;
}

.seccion p {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-family: var(--fuente_3);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 3rem;
    width: 10rem;
    display: block;
}

h3 {
    font-size: 2.5rem;
    color: var(--secundario);
    font-family: var(--fuente_2);
    margin: 0;
}

.button {
    font-family: var(--fuente_3);
    background-color: var(--secundario);
    padding: 1rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 3rem;
    display: inline-block;
    transition: 1s all ease;

}

.button:hover {
    background-color: var(--secundario_osc);
}


.contenedor-buttons {
    display: flex;
}

/* Header */
.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

.contenido-header {
    padding-top: 4rem;
    text-align: center;
    color: white;
    margin: 0;
}

.redes-sociales a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

.redes-sociales a:last-of-type {
    margin: 0;
}


.informacion-evento {
    display: block;
}

@media only screen and (min-width:768px) {
    .informacion-evento {
        display: flex;
        justify-content: space-evenly;
    }

}


.informacion-evento p {
    font-size: 2rem;
    text-transform: uppercase;
}


.informacion-evento i {
    color: var(--secundario);
}

@media only screen and (min-width:768px) {
    h1.nombre-sitio {
        font-size: 50vw;
    }
}

h1.nombre-sitio {
    font-size: 10vw;
    font-family: var(--fuente_2);
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

p.slogan {
    text-transform: lowercase;
    font-size: 2rem;
    margin: 0;
}

p.slogan span {
    font-weight: bold;
}

/* Barra */

.barra {
    background: var(--principal_osc);
}


.barra .contenedor {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo {
    width: 80%;
}

.logo img {
    width: 100%;
}

@media only screen and (min-width:768px) {
    .logo {
        width: 33%;
    }

    .barra .contenedor {
        flex-direction: row;
    }

}

/* Navegacion principal */


.navegacion-principal {

    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
}


.navegacion-principal a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    margin: 0;
    transition: 1s all ease;
}

.navegacion-principal a:hover {
    background: var(--secundario);
}

.navegacion-principal a:last-of-type {
    margin: 0;
    border: 2px solid var(--secundario);
    color: var(--secundario);
}


.navegacion-principal a:last-of-type:hover {
    background: var(--secundario);
    color: white;
    transition: all 1s;

}



@media only screen and (min-width:768px) {
    .navegacion-principal {
        display: block;
        width: auto;
    }

    .navegacion-principal a {
        margin-right: 3rem;
        font-size: 1.2rem;
    }
}


@media only screen and (min-width:992px) {
    .navegacion-principal a {
        font-size: 2rem;
    }
}




/* Menu movil */

.menu-movil {
    width: 60px;
    margin-right: 1rem;
}

.menu-movil:hover {
    cursor: pointer;
}

.menu-movil span {
    height: .8rem;
    margin-bottom: .6rem;
    background-color: white;
    display: block;
}

@media only screen and (min-width:768px) {
    .menu-movil {
        display: none;
    }

    .logo-movil {
        display: contents !important;
    }
}

.logo-movil {
    display: flex;
    align-items: center;
}


/* Talleres */

.programa {
    position: relative;
}


.video-fondo {
    width: 100%;
}

.contenido-programa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
}

.programa-evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 1.5rem;
    margin: 0rem;
}

@media only screen and (min-width:768px) {
    .programa-evento {
        margin-top: 2rem;
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    .programa-evento {
        margin-top: 8rem;
        width: 50%;
    }
}

.menu-programa {
    width: 100%;
    border-bottom: 1px var(--secundario) solid;
    padding-bottom: 2rem;
}

nav.menu-programa {
    display: flex;
    flex-direction: column;

    align-items: center;
}

@media only screen and (min-width:768px) {
    nav.menu-programa {
        flex-direction: row;
        justify-content: space-evenly;
    }
}


nav.menu-programa a {
    text-decoration: none;
    color: black;
    font-family: var(--fuente_3);
    margin-bottom: 1rem;
}


nav.menu-programa a i,
.detalle-evento i {
    color: var(--secundario);
    font-size: 3rem;
    margin-right: 1.5rem;
}

/* Detalle evento */
.detalle-evento {
    margin-top: 2rem;
    border-bottom: 1px solid black;
    padding: 0 2rem;
}

.detalle-evento:nth-child(2) {
    border: none;
}

.contenido-programa .contenedor-buttons {
    justify-content: flex-end;
}