/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --principal: #f2f2f2;
    --principal_osc: #353535;
    --secundario: #fe4918;
    --secundario_osc: #e33000;
    --fuente_1: 'Open Sans', sans-serif;
    --fuente_2: 'PT Sans', sans-serif;
    --fuente_3: 'Oswald', sans-serif;
}

/* Global */
body {
    background-color: var(--principal);
    font-family: var(--fuente_1);
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%;
    }

}

@media only screen and (min-width:768px) {
    .contenedor {
        width: 90%;
    }

}

@media only screen and (min-width:992px) {
    .contenedor {
        width: 85%;

    }

}


@media only screen and (min-width:1920px) {
    .contenedor {
        width: 80%;
        max-width: 1800;
    }

}


.seccion {
    padding: 3rem 0;
}

.seccion p {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-family: var(--fuente_3);
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 3rem;
    width: 10rem;
    display: block;
}

h3 {
    font-size: 2.5rem;
    color: var(--secundario);
    font-family: var(--fuente_2);
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

.button {
    font-size: 2rem;
    font-family: var(--fuente_3);
    background-color: var(--secundario);
    padding: 1rem 4rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 3rem;
    display: inline-block;
    transition: 1s all ease;
    border: 2px solid;

}

.button.hollow,
.button.hollow:hover{
    background:white;
    color: var(--secundario);
}

.button:hover {
    background-color: var(--secundario_osc);
}


.contenedor-buttons {
    display: flex;
}



/* Header */
.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: top center;
    background-size: cover;
}

.contenido-header {
    padding-top: 4rem;
    text-align: center;
    color: white;
    margin: 0;
}

.redes-sociales a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

.redes-sociales a:last-of-type {
    margin: 0;
}


.informacion-evento {
    display: block;
}

@media only screen and (min-width:768px) {
    .informacion-evento {
        display: flex;
        justify-content: space-evenly;
    }

}


.informacion-evento p {
    font-size: 2rem;
    text-transform: uppercase;
}


.informacion-evento i {
    color: var(--secundario);
}

@media only screen and (min-width:768px) {
    h1.nombre-sitio {
        font-size: 50vw;
    }
}

h1.nombre-sitio {
    font-size: 10vw;
    font-family: var(--fuente_2);
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

p.slogan {
    text-transform: lowercase;
    font-size: 2rem;
    margin: 0;
}

p.slogan span {
    font-weight: bold;
}

/* Barra */

.barra {
    background: var(--principal_osc);
}


.barra .contenedor {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.logo {
    width: 80%;
}

.logo img {
    width: 100%;
}

@media only screen and (min-width:768px) {
    .logo {
        width: 33%;
    }

    .barra .contenedor {
        flex-direction: row;
    }

}

/* Navegacion principal */


.navegacion-principal {

    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
}


.navegacion-principal a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    margin: 0;
    transition: 1s all ease;
}

.navegacion-principal a:hover {
    background: var(--secundario);
}

.navegacion-principal a:last-of-type {
    margin: 0;
    border: 2px solid var(--secundario);
    color: var(--secundario);
}


.navegacion-principal a:last-of-type:hover {
    background: var(--secundario);
    color: white;
    transition: all 1s;

}



@media only screen and (min-width:768px) {
    .navegacion-principal {
        display: block;
        width: auto;
    }

    .navegacion-principal a {
        margin-right: 3rem;
        font-size: 1.2rem;
    }
}


@media only screen and (min-width:992px) {
    .navegacion-principal a {
        font-size: 2rem;
    }
}




/* Menu movil */

.menu-movil {
    width: 60px;
    margin-right: 1rem;
}

.menu-movil:hover {
    cursor: pointer;
}

.menu-movil span {
    height: .8rem;
    margin-bottom: .6rem;
    background-color: white;
    display: block;
}

@media only screen and (min-width:768px) {
    .menu-movil {
        display: none;
    }

    .logo-movil {
        display: contents !important;
    }
}

.logo-movil {
    display: flex;
    align-items: center;
}


/* Talleres */

.programa {
    position: relative;
}


.video-fondo {
    width: 100%;
}

.contenido-programa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
}

.programa-evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 1.5rem;
    margin: 0rem;
}

@media only screen and (min-width:768px) {
    .programa-evento {
        margin-top: 2rem;
        width: 60%;
    }
}

@media only screen and (min-width:992px) {
    .programa-evento {
        margin-top: 8rem;
        width: 50%;
    }
}

.menu-programa {
    width: 100%;
    border-bottom: 1px var(--secundario) solid;
    padding-bottom: 2rem;
}

nav.menu-programa {
    display: flex;
    flex-direction: column;

    align-items: center;
}

@media only screen and (min-width:768px) {
    nav.menu-programa {
        flex-direction: row;
        justify-content: space-evenly;
    }
}


nav.menu-programa a {
    text-decoration: none;
    color: black;
    font-family: var(--fuente_3);
    margin-bottom: 1rem;
}


nav.menu-programa a i,
.detalle-evento i {
    color: var(--secundario);
    font-size: 3rem;
    margin-right: 1.5rem;
}

/* Detalle evento */
.detalle-evento {
    margin-top: 2rem;
    border-bottom: 1px solid black;
    padding: 0 2rem;
}

.detalle-evento:nth-child(2) {
    border: none;
}

.contenido-programa .contenedor-buttons {
    justify-content: flex-end;
}



/* Invitados */

ul.lista-invitados{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


section.invitados{
    margin-top: 60rem;
}
ul.lista-invitados li{
    margin: 0;
    margin-bottom: 5rem;

}



@media only screen and (min-width:480px){
    section.invitados{
        margin-top: 50rem;
    }



}

@media only screen and (min-width:768px){
    section.invitados{
        margin-top: 30rem;

    }

    ul.lista-invitados li{
        margin-right: 4rem;
    }
    

}

@media only screen and (min-width:992px){
    section.invitados{
        margin-top: 0rem;
    }

}

@media only screen and (min-width:1920px){
    ul.lista-invitados li{
        margin-right: 10rem;
    }

    section.invitados{
        margin-top: 0rem;
    }
}


div.invitado{
    position: relative;
    overflow: hidden;
}

div.invitado img{
    max-width: 100%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: 2s;
}

div.invitado img:hover{
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

div.invitado p{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem 1rem;
    margin: 0;
    background-color:rgba(0, 0, 0, .55);
    width: 100%;
    text-align: left;
    color: var(--secundario);
    text-transform: uppercase;
    font-family: var(--fuente_3);
    font-weight: bold;
    transition: 1s;
}


div.invitado:hover p{
    bottom: -8rem;
    opacity: 0;
}


/* Contador */
.parallax::before{
    width: 100%;
    height: 100% ;
    background-size: cover !important;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center !important;
    background-repeat: no-repeat !important; 
    background-attachment: fixed !important;  
}
.contador{
    position: relative;
    height: auto;
}

.contador::before{
    background-image: url(../img/bg-resumen.jpg);
    content: '';
}


ul.resumen-evento{
    position: relative;
    padding: 12rem 0 ;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    font-weight: bold;
}


ul.resumen-evento li{
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: var(--fuente_3);
}


 p.numero{
    color: var(--secundario);
    font-size: 8rem;
    margin-bottom: 1rem;
    display: block;
    font-weight: bold;
    font-family: var(--fuente_3);
    margin-top: 2rem;

}

/* precios */
ul.lista-precios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tabla-precios ul li::before{
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 20px;
    color: green;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    content: '\f00c';
}

.tabla-precios:hover{
    transform: scale(1.1);
    border: 1px solid var(--secundario);
    box-shadow:  0px 0px 50px #666;
}

.tabla-precios{
    border: .1rem solid #e1e1e1;
    background-color: white;
    padding: 4rem 8rem;
    margin-bottom: 5rem;
    text-align: center;
    transition: 2s all ease;

}


.tabla-precios ul li{
    font-family: var(--fuente_1);
    font-size: 1.4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #868686;
    line-height: 2.6rem;
}

.tabla-precios h3{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: var(--fuente_3);
}

.tabla-precios .numero{
    color: black;
    margin: 2rem 0 ;
}

.mapa{
    height: 42rem;
    background: green;
}

/* Testimoniales */


.testimonial{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-basis: 5rem;
}

.testimonial blockquote{
    flex-basis: 40rem;
    background: white;
    border: 1px solid #e1e1e1;
    margin: 0 0 1rem 0;
    padding-bottom: 2rem;
    position: relative;
}

.testimonial blockquote p{
    text-align: justify;
    font-size: 1.6rem;
    font-family: var(--fuente_2);
    padding: 0 2rem 0 6.5rem;

}

.testimonial blockquote p::before{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: '\201c';
    left: 13px;
    top: 2px;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--secundario);
    font-weight: bold;
}

.testimonial cite{
    color: var(--secundario);
    text-transform: uppercase;  
    text-align: left;
    font-size: 1.6rem;
    font-family: var(--fuente_2);
    font-weight: bold;
    font-style: normal;
}

.testimonial cite span{
    color: black; 
    text-transform: none;
    font-weight: normal;
}

.info-testimonial{
    display: flex;
    align-items: center;
}
.info-testimonial img{
    width: 20%;
    border-radius: 50%;
    margin: 2rem;
}


/* Newsletter */

.newsletter{
    position: relative;
    height: auto;
}

.newsletter::before{
    background: url(../img/bg-newsletter.jpg);
    content: '';
    filter: brightness(0.4);


}

.newsletter .contenido{
    padding: 10rem 0;
    color: white;
    text-align: center;
    position: relative;
}

.newsletter p{
    font-size: 2rem;
}

.newsletter h3{
    color: white;
    font-size: 15rem !important;
}

.transparente{
    background: none;
}


/* Cuenta regresiva */
.cuenta-regresiva ul{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.cuenta-regresiva ul li{
    font-size: 3rem;
    font-weight: bold;
    flex-basis: 20rem;
    text-align: center;
}

/* Footer */
footer.site-footer{
    background: #353535;
    margin-top: 10rem;
    padding: 5rem 0 0 1rem;
}

.site-footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.site-footer .contenido{
    flex-basis: 40rem;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.site-footer .contenido h3{
    color: white ;
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--fuente_3);
}


.site-footer .contenido h3 span{
    color: var(--secundario);
}

.site-footer .contenedor nav{
    padding-top: 3rem;
}


.copyrigth{
    background: #2e2e2e;
    color: white;
    text-align: center;
    margin: 2rem  0 0 0;
    font-size: 2rem;
    padding: 1rem 0;
}